* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dashboard-card {
  width: 700px;
  min-height: 550px;
  padding: 35px;
  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  animation: slideUp 0.5s ease;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.dashboard-header h2 {
  color: #111827;
  font-size: 28px;
}

.logout-btn {
  width: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #ef4444;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #dc2626;
}

.todo-input {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}

.todo-input input,
.todo-input select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 15px;
  background: white;
}

.todo-input input {
  flex: 1;
}

.todo-input input:focus,
.todo-input select:focus {
  border-color: #2563eb;
}

.add-btn {
  width: auto;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg,#2563eb,#7c3aed);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  transform: translateY(-2px);
}

.todo-list ul {
  list-style: none;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  margin-bottom: 15px;
  background: rgba(255,255,255,0.85);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.todo-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-details span {
  color: #111827;
  font-size: 14px;
  font-weight: 600;
}

.todo-details span:first-child {
  font-size: 17px;
  font-weight: 700;
}



.todo-list button {
  width: auto;
  padding: 8px 15px;
  margin-left: 8px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.todo-list button:first-child {
  background: #2563eb;
}

.todo-list button:first-child:hover {
  background: #1d4ed8;
}

.todo-list button:last-child {
  background: #ef4444;
}

.todo-list button:last-child:hover {
  background: #dc2626;
}

.todo-list p {
  text-align: center;
  color: #111827;
  font-weight: 600;
}

